.hero{
    min-height: 901px;
    background: linear-gradient(90deg,#007bff,#04d9b2);
}

img.banks-img{
    width: 95.0785px;
    height: 93.2143px;
    background: white;
    border-radius: 20px;
}



