

.home.hero{
    min-height: 901px;
    background-image: linear-gradient(90deg,rgba(17, 165, 208, 0.8),rgba(78, 214, 196, 0.8)), url("../../img/bg.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}

.home h1{
    font-size: 54px;
}

.home img.banks-img{
    width: 95.0785px;
    height: 93.2143px;
    background: white;
    border-radius: 20px;
}

.home i.icon-checkmark {
    background-color: white;
color: rgb(19, 199, 151);
font-size: 15px;
padding: 10px;
border-radius: 99px;
}

@media (max-width:48em){

    .home h1{
        font-size: 24px;
    }

    .home img.banks-img{
        width: 60.3571px;
        height: 60.3571px;
        border-radius: 10px;
    }
}
