.hero{
    min-height: 901px;
    background: linear-gradient(180deg,#007bff,#04d9b2);
}

.sim-col{
    background: white;
    border-radius: 20px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.sim-col h2{
    color: black;
    text-align: end;
}
.sim-col p{
    color: #04d9b2;
    text-align: end;
}

.sim-row button.button.mb-0.pb-0 {
    background: none;
    border: none;
    color: black;
}

.sim-row button:hover{
    box-shadow: none !important;
}

.sim-row i.icon-angle-right {
    color: white;
    background: #04d9b2;
    border-radius: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
}


