
img.header_logo.header-logo {
    min-width: 309px;
    min-height: 79px;
}

.header-social-icons i.icon-instagram{
    color: rgb(19, 199, 151); 
    font-size: 23px;

}

.header-social-icons i.icon-facebook{
    color: white;
    background: rgb(19, 199, 151);
    border-radius: 99px;
    padding: 1px 3px 0 3px;
    font-size: 20px;
}

a.nav-top-link {
    font-weight: bold;
    color: black;
    font-size: 1rem !important;
}

.footer-text.inline-block.small-block {
    color: rgb(0, 186, 241);
}

.copyright-footer,
.footer-text a:hover {
    color: black;
}

.absolute-footer{
    max-height: 54px;
}

@media (max-width: 48em){
    img.header_logo.header-logo {
        min-width: 156px;
        min-height: 40px;
    }
}
