.hero {
    padding: 30px !important;
}

.hero .bg {
    background-image: linear-gradient(90deg,rgb(17 165 208 / 82%),hwb(172deg 31% 16% / 77%)), url(../img/obah-woman-bg.jpg) !important;
    background-size: 105% !important;
    background-position: 0 20% !important;
}

.is-loading i {
    color: #ffffff00 !important;
}

.is-loading i::after {
    content: '';
    width: 20px;
    height: 20px;
    border: solid 2px #fff;
    display: block;
    position: absolute;
    top: 35%;
    left: 33%;
    border-radius: 99px;
    border-width: 2px 2px 0 0;
    animation: spin 500ms linear infinite;
}

img.header_logo.header-logo {
    min-width: 309px;
    min-height: 79px;
}

.header-wrapper.stuck img.header_logo.header-logo {
    min-width: 240px;
    min-height: auto;
}

i.icon-menu {
    color: rgb(4, 198, 167);
}

.mfp-content a,
.mfp-content div > a{
    justify-content: center;
}

.header-social-icons i.icon-instagram{
    color: rgb(19, 199, 151); 
    font-size: 23px;

}

.header-social-icons i.icon-facebook{
    color: white;
    background: rgb(19, 199, 151);
    border-radius: 99px;
    padding: 1px 3px 0 3px;
    font-size: 20px;
}

a.nav-top-link {
    font-weight: bold;
    color: black;
    font-size: 1rem !important;
}

.footer-text.inline-block.small-block {
    color: rgb(0, 186, 241);
}

.copyright-footer,
.footer-text a:hover {
    color: black;
}

.absolute-footer{
    max-height: 54px;
}

b.footer-privacy-policy:hover {
    color: black;
}

.footer-secondary.pull-right {
    margin: 0 !important;
    padding: 0 !important;
}

.flashing-alert {
    border: solid 2px !important;
    border-color: red !important;
    background: #ff000024 !important;
}

.second-buyer-fields-container {
    display: flex;
    flex-wrap: wrap;
}

/* MOBILE */
@media (max-width: 48em){
    img.header_logo.header-logo {
        min-width: 156px;
        min-height: 40px;
    }
}
